body, figure, section , div , article {
    padding: 0;
    margin: 0;
}
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.master__max {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 360px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-weight: bold;
    font-family: 'PT Serif', serif;
    font-size: 36px;
}

.header-aside {
    max-width: 440px;
}

.header-subtitle {
    font-size: 18px;
    font-weight: 600;
}

.header-p {
    font-size: 18px;
}

.content__flex {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content__flex article {
    width: 30%;
    margin-bottom: 50px;
}

.content__flex img {
    width: 100%;
}

.content__flex article:nth-child(3n+2) {
    transform: translateY(50px);
}

.content__flex p {
    font-size: 18px;
    font-weight: 600;
}

.content__inner {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.content__inner img {
    width: 85%;
}

.content__inner span {
    white-space: nowrap;
    transform: rotate(90deg) translateY(-30px) translateX(0);
    transform-origin: 0 0;
    font-size: 12px;
    font-family: 'PT Serif', serif;
}

.text-center {
    text-align: center;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #A9A9A9;
}

@media ( max-width : 830px) {
    .header__flex{
        flex-direction: column;
    }
}

@media ( max-width : 621px) {
    .header-title{
        font-size: 36px;
    }
    .header-subtitle {
        font-size: 18px;
    }
    .header-p, .content__flex p{ 
        font-size: 14px;
    }
    .content__flex{
        margin-top: 50px;
    }
    .content__flex article:nth-child(3n+2) {
        transform: translateY(0px);
    }
    .content__flex article:nth-child(2n+1) {
        transform: translateY(-50px);
    }
    .content__flex article{
        width: 45%;
    }

}